body {
  background-color: #f2f2f2;
  text-align: center;
}

.card {
  background-color: white;
  width: 250px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
}

button {
  padding: 8px 15px;
  background-color: blue;
  color: white;
}
