body {
  background-color: antiquewhite;
  font-family: Arial;
}

h1 {
  color: red;
  padding: 10px;
  margin: 20px;
}

h2 {
  color: blue;
  padding: 10px;
  margin: 20px;
}

h3 {
  color: green;
  padding: 10px;
  margin: 20px;
}

h4 {
  color: purple;
  padding: 10px;
  margin: 20px;
}

h5 {
  color: brown;
  padding: 10px;
  margin: 20px;
}

.para1 {
  font-size: 20px;
  color: deeppink;
}

#para2 {
  font-size: 16px;
  color: red;
}
