body {
  margin: 0;
  font-family: Arial;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

form {
  width: 300px;
  margin: 40px auto;
}

input {
  width: 100%;
  padding: 8px;
}

input[type="submit"] {
  background-color: brown;
  color: white;
  padding: 10px;
}
