body {
  background: linear-gradient(#74abe2, #5563de);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.weather-card {
  background: white;
  width: 250px;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.weather-card img {
  width: 80px;
  margin: 10px 0;
}

.weather-card h1 {
  font-size: 40px;
  margin: 10px 0;
}

.weather-card p {
  font-size: 18px;
  color: gray;
}
