* {
  font-family: Arial;
}

#dashboard {
  padding: 20px;
  background-color: #f5f5f5;
}

h2,
h3 {
  color: #333;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.card p {
  color: #555;
}

button[data-type="primary"] {
  background-color: #007bff;
  color: white;
}

button[data-type="danger"] {
  background-color: #dc3545;
  color: white;
}
